{{> head }}


    
{{> navbar }}
 
 <div class="row">
     <div class="col-8">
        <h1>Sonic</h1>
        <p>
            Matteo y sonic son amigos
        </p>
     </div>
      <div class="col-4">
         <img src="assets/img/sonic.png" class="img-thumbnail">
     </div>
 </div>
    
  {{> footer }}